# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Google Cloud credentials
*.json
application_default_credentials.json

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log